%p Repos Index

- @repos.each do |repo|
	= debug repo

%p Repos can be added using this very special bookmarklet (best draw it to your browser's bookmark bar)

#bookmarket
	%a.button(href="javascript: open('http://localhost:3000/repo/add?url=' + location.href)") Post to repos